#navbar {
    display:flex;
    justify-content:space-around;
    padding:20px;
    font-size: larger;
    border-radius: 10px;
    margin-bottom: 50px;
    background-color: rgb(250, 250, 244);

}

img {
    display:inline-block;
    float:left;
    margin:20px;
    border-radius: 10px;;
}


h1,h2,#navbar, p, li {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1 {
    padding:20px;
}


body {
    background-image: linear-gradient(#fad0f3, #d2f8ff);
    background-attachment: fixed;
}



.layout {
    display:flex;
    justify-content:center;
}

.right-content {
    width:750px;
}

.right-subcontent {
    padding:50px;
    border-radius:10px;
    width:690px;
    background-color: rgb(250, 250, 244);
}

.left-content {
    margin-right:50px;
}

#edandclubs{
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows:auto auto;
}

.edudiv .clubdiv{
    max-width:50vw;
}