#navbar {
    display:flex;
    justify-content:space-around;
}

img {
    display:inline-block;
    float:left;
    margin:20px;
    border-radius: 10px;;
}


h1,h2,#navbar {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1 {
    padding:20px;
}

#navbar{
    padding:20px;
    background-color:aliceblue;
    font-size: larger;
    border-radius: 10px;
    margin-bottom: 50px;
}

p,li {
    font-family:'Courier New', Courier, monospace;
}

.layout {
    display:flex;
    justify-content:center;
}

.right-content {
    width:750px;
}

.right-subcontent {
    background-color: rgba(220, 224, 245, 0.175);
    padding:50px;
    border-radius:10px;
    width:690px;
}

.left-content {
    margin-right:50px;
}

#edandclubs{
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows:auto auto;
}

.edudiv .clubdiv{
    max-width:50vw;
}